<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/prism.css" />
    <link rel="stylesheet" type="text/css" href="/css/cosh.css" />
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
    </header>
    {{code}}
    <footer>
      <p> Powered by <a href="https://gitlab.com/vasalf/cosh">CoSH</a>. </p>
      <p> Highlighted with <a href="http://prismjs.com">PrismJS</a>. </p>
      <p> Auto-updating with <a href="https://gitlab.com/vasalf/git-sync">git-sync</a>. </p>
    </footer>
  </body>
</html>
